body  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
form  {
    margin: 0 auto;
    width: 300px;
    padding: 14px;
    border: solid 2px #00a2ff;
    background-color: #ebf4fb;
}

input  {
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 250px;
    margin: 2px 0 20px 10px;
}

.accesslev  {
    width: 20px;
}

label  {
    font-weight: bold;
}

.button  {
    width: 250px;
    height: 30px;
    line-height: 30px;
    background-color: #494040;
    color: #fff;
    font-weight: bold;
    margin: 5px 0 0 20px;
    padding: 0;
    border-style: none;
}

.button:hover  {
    background-color: #aa1616;
}

span  {
    color: #ff0000;
    font-weight: bold;
}